<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Bunny Feeder</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Bunny Feeder</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/bunnyfeeder.png">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Academic project</p>

                    <p><b>About: </b>I created a game that allows the player to control the movement of the bunny character. The objective
                    is to feed the bunny with carrots until a 100 points are reached. The carrots award 10 points, and socks, which are inedible,
                        deduct a life. The bunny begins a new game with 3 extra lives.</p>
                    <p>To keep things interesting, every now and then, a rare magical sock
            will appear that awards an extra life, and a rare poisonous carrot will appear that deducts a life. The game is over when either the 
        bunny is full, or when the bunny is dead. Players have the option of saving the current stats, and reloading them at a later point.</p>
                    <p>Originally I used hand drawn images of the bunny, carrot, and sock to keep the game feeling personal. I ended up changing this
                    to use pixelated images to give it a retro feel.</p>

        <p>
            I used JSwing in order to implement the UI, and JUnit testing to write an exhaustive test suite for the program.
        </p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
