<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>C++ Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Pixel Manipulation</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/cpp.PNG">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Academic project</p>

                    <p><b>About: </b>Information</p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>