<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>MedHub</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>MedHubt</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/medhub.png">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Hackathon project</p>

                    <p><b>About: </b>My hackathon partner and I wanted to create an app that will allow the user to complete
                    all admin-related tasks of a healthcare professional in one convenient location. Having worked as a Registered Nurse,
                I know the difficulties of working with a compassionate transfer patient who comes in with little to no history in the 
            database. Often, this can complicate and endanger patient care. </p>

            <p>
                I used React.js, HTMl, and CSS in order to design and implement the dashboard, patient details, and admission pages of the app.
            </p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
