<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>RN</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Perinatal Registered Nurse</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/work1.jpg">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Work Experience</p>

                    <p><b>About: </b>I worked as a maternity nurse at Surrey Memorial Hospital for over 3 years. I began my nursing career 
                    working with postpartum patients and newborns. I worked my way up from working with low-risk healthy postpartum patients to
                high-risk patients managing diabetes, hypertension, infection, etc. I completed my BCIT Perinatal Specialty certificate program 
            which allowed me to work full-scope on the unit as a Labor and Delivery nurse. I began seeing intrapartum and antepartum patients, dealing 
        with pre-eclampsia, substance use, premature labor, etc. I often filled in roles such as preceptoring nursing students or orientating new hires.</p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>