<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>RN</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Perinatal Registered Nurse</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/work1.jpg">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Work Experience</p>

                    <p><b>About: </b>I worked as a maternity nurse at Surrey Memorial Hospital for over 3 years. I began my nursing career 
                    working with postpartum patients and newborns. I worked my way up from working with low-risk healthy postpartum patients to
                        high-risk patients managing diabetes, hypertension, infection, etc.</p>
                    <p>Then, I completed my BCIT Perinatal Specialty certificate program 
            which allowed me to work full-scope on the unit as a Labor and Delivery nurse. I began seeing intrapartum and antepartum patients, dealing 
        with pre-eclampsia, substance use, premature labor, etc. I often filled in roles such as preceptoring nursing students or orientating new hires.</p>
                    
                    <p>Although my time as an RN is in the past, the skills that I obtained will last me a lifetime. I learned to be a strong, consistent
                    communicator, as communication is vital to maintaining safety of the patients and order of the unit. I often worked one-on-one with the 
                    patients and their families very closely, which meant I was independent and often making urgent calls by myself. But working in a big
                    hospital such as Surrey Memorial Hospital meant I worked with a diverse healthcare team, such as physicians, general practitioners,
                    social workers, pharmacists, dieticians, occupational therapists, etc. I also became a team player by learning when to advocate for patients,
                    when to listen, and when to speak up. Since our unit was always busy, I learned to manage my time efficiently and learn how to manage
                    a heavy workload. This taught me how to prioritize tasks based on urgency and importance.</p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
