<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>How Long to Read</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>How Long to Read</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/howlongtoread.png">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Hackathon project</p>

                    <p><b>About: </b>I'm an avid reader, and my hackathon group and I had an interesting idea of how long it takes
                    for the average reader to read a given book. It started as a curiosity that kickstarted our hackathon project. </p>

                    <p>
                        I, alongside my group, used React.js , HTML, and CSS to create this web app that allows users to search up books to see the average 
                        length of time it takes to read a book, based on the median of user inputs. If a book does not currently exist, 
                        users also have the option of adding it to the database. From this experience, I learned how to work with React Components and props
                        and how to implement event features.
                    </p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
