<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>RA</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Research Assistant</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/clay.jpg">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Work Experience</p>

                    <p><b>About: </b>I worked as a Research Assistant at the University of Calgary alongside Dr. C. Mannion for about 3 years. 
                        I worked on a project that dealt with the phenomenon of pica, the ingestion of non-food items such as clay or ice,
                         among pregnant or breastfeeding women. </p>
                    
                    <p>The reason I was drawn to this study, other than being in a healthcare field, was because I was fascinated by all the
                    numerous changes that came with pregnancy and postpartum. I also realized, from learning more about pica, that it could cause
                    negative physiological impacts on the mother and baby. The topic involved both body and mind, making it an intriguing research topic.</p>

                    <p>
                        I was involved throughout the entire span of the project from recruiting participants, to interviewing them, to transcribing 
                        data, to analysing data, and to writing up draft papers for publication. Pica is a stigmatized topic, which made recruitment 
                        challenging. We ended up recruiting about 13 participants as we expanded the search online over social media sites. I ended up
                        making a Facebook group that allowed pica participants to safely discuss their use of pica without any shame or judgment. This seemed
                        to be a better approach as women felt safe behind the anonymity of their pseudonames online. Publication 
                        is pending, as I finished writing up the draft, but awaiting approval for publication from my supervisor.
                    </p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
