<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>CPSC TA</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Computer Science Teaching Assistant</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/ta.jpg">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Work Experience</p>

                    <p><b>About: </b>I helped teach CPSC 210: Software Construction at UBC starting Jan 2021. </p>
                    
                    <p>My roles included
                    being a lecture TA, in addition to being a lab TA and answering questions on Piazza, a learning management system
                where students post questions in a forum-style format. Being a lecture TA consisted of reviewing the weekly modules,
            lecture labs, and module quizzes. As a lab TA, I managed about 5-7 students for each of the 3 labs I ran every week where I 
        helped students consolidate design pattern concepts, debug labs or projects, grade assignments, and answer any questions. On Piazza,
    I helped answer students' questions about the course material. I also helped invigilate exams and mark manually graded questions.</p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>