<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Clinical Instructor</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Nursing Clinical Instructor</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/ci.jpg">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Work Experience</p>

                    <p><b>About: </b>I find teaching very rewarding, which was why I pursued teaching as a nurse. I taught with the UBC 
                    School of Nursing for 2 academic terms. I managed 2 groups of about 6-8 students each at varying locations throughout
                BC, such as Lion's Gate Hospital, Richmond General Hospital, and BC Women's Hospital.</p>
                 
                <p>Every shift, I would arrive early at the hospital to scope out the daily workload to evenly distribute appropriate patient 
                    assignments to all my students. I would make sure that I didn't assign a patient that I didn't think a student could
                    handle. I collaborated with the staff nurses to ensure the assignments were appropriate. I also made sure to keep close
                    communication with the staff nurses and physicians to ensure everyone was up-to-date with patient status as the students
                    worked with them throughout the shift. I would demonstrate skills to my students such as foley removals, IV removals, newborn baths,
                    breastfeeding assistance, and discharge education. Then I would slowly encourage the students to practice the skills themselves, with my
                    supervision. Over the term, the students would hopefully gain more and more independence from me as they get checked off on
                    their competencies. </p>
                    
                    <p>I would work closely with each student to generate a clear and realistic learning plan for the term. I would get a clear
                    idea of their current knowledge and skills baseline, in order to see what can be improved. I made sure to give them time during
                    pre-conference and post-conference every shift to relay any requests, concerns, or feedback. I also provided them with the means to
                    practice otherwise unavailable skill opportunities during post-conferences to help them prepare for clinical assessments at school.</p>
                    
                    <p>I truly enjoyed teaching as a clinical instructor with the UBC SoN. I learned what it meant to be a teacher, and what kind of 
                    responsibilities a teacher has on their students. I learned to be more responsible, more accountable, and use well-established rapport
                    with the students to help them discover their potential. I hope to continue teaching in the future in software development.</p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
