<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Clinical Instructor</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../about.html">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="../contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>CLARA KIM</div>
                </div>
            </div>
        </div>

        <div class="back-wrapper">
            <div class="back">
                <a href="../index.html">BACK</a>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <h1>Nursing Clinical Instructor</h1>
            <div class="column-portfolio-wrapper">
                <div class="portfolio-image-wrapper">
                    <img src="../imgs/ci.jpg">
                </div>

                <div class="portfolio-content-wrapper">

                    <p><b>Category: </b>Work Experience</p>

                    <p><b>About: </b>I find teaching very rewarding, which was why I pursued teaching as a nurse. I taught with the UBC 
                    School of Nursing for 2 academic terms. I managed 2 groups of about 6-8 students each at varying locations throughout
                BC, such as Lion's Gate Hospital, Richmond General Hospital, and BC Women's Hospital.</p>
                 
                <p>I worked with each of the students 
            to formulate a learning plan that was suitable for each learner and their needs. I collaborated with the hospital staff to ensure 
        smooth communication and teamwork with the students. I demonstrated then supervised the students with clinical skills, such as IV 
    medication administration, or foley removal. I consistently checked all student documentation to ensure accuracy and conciseness. </p>

                </div>
            </div>
        </div>

    </div>
</body>
</html>